---
layout: default
---

{% assign book = page.book | default: page.title %}
{% assign posts = site.categories[book] | sort:"order" %}
{% assign lastIdx = posts.size | minus: 1 %}

<div class="book">
    <div class="top">
        <span>커버 페이지</span>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col-lg-9 left">
            <div class="cover">
                <div class="title">{{ page.title }}</div>
                <div class="dest">{{ page.description }}</div>
                <div class="image">
                    <img src="/assets/img/covers/{{ page.category }}.jpg" />
                </div>
                {% if posts.size > 0 %}
                <div class="date">
                    <div class="row">
                        <div class="side col-md-6">
                            <span class="badge badge-dark">First Post</span>
                            <div class="value">{{ posts[0].date | date: "%Y년 %m월 %d일" }}</div>
                        </div>
                        <div class="side col-md-6 text-right">
                            <span class="badge badge-dark">Last Post</span>
                            <div class="value">{{ posts[lastIdx].date | date: "%Y년 %m월 %d일" }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 right">
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <div>chapters</div>
                                <span></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>
                                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                            </td>
                            <td class="page">{{ forloop.index }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="actions">
                    <a class="btn btn-dark btn-block" href="{{ site.baseurl }}{{ page.url }}intro">시작하기</a>
                </div>
            </div>
        </div>
    </div>
</div>