---
layout: default
---

<div class="home book">
    <div class="top">
        <span>도서관 소개</span>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col-lg-9 left">
            <article>
                <div class="content">
                    <div class="img">
                        <img src="https://africalib.github.io/img/logo.book.svg" />
                    </div>
                    <div class="txt">
                        아프리카도서관은 프로그래밍 도서를 제공하는 웹 사이트입니다.
                        일반적인 도서관에 있는 종이책 형태가 아닌 전자책(e-book) 형태로 게시하고 있습니다.
                        <br />
                        <br />
                        변화하는 세상의 속도보다 더 빠르게 확장되는 프로그래밍 기술을 종이 책에 담기에는 책이 너무 작아보였습니다.
                        다양한 사람들의 필요를 채우기에 종이 책은 유연함이 부족해보였습니다.
                        <br />
                        <br />
                        그래서 우리는 움직이는 변화에 맞추어 부드럽게 발전하는 도서를 집필하고 싶습니다.
                        손으로 만질 수 있는 책은 아니지만 누군가의 꿈에 닿을 수 있는 따뜻한 책을 만들고 싶습니다.
                    </div>
                </div>
            </article>
        </div>
        <div class="col-lg-3 right">
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div>books</div>
                                <span></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% assign pages = site.pages %}
                        {% for node in pages %}
                        {% if node.title != null %}
                        <tr class="nav-item {% if page.url contains node.url %}active{% endif %}">
                            <td>
                                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }} : {{ node.description }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>